.carousel_card {
  background-color: rgb(247, 247, 247);
  border-style: none;
  border-style: 0;
  margin-top: 40vmin;
  margin-bottom: 40vmin;
}

.carousel_card .card-title
{
  background-image: linear-gradient(0deg, rgb(92, 92, 92), rgb(68, 68, 68));
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.experience {
  width: 90vmin;
  height: 30vmin;
  background-color: rgb(114, 130, 136);
}

.foot {
  width: 10vmin;
  height: 15vmin;
  margin: 3vmin;
  background-size: 10vmin 10vmin;
  background-clip: no-clip;
  background-repeat: no-repeat;
}

.foot.left_1 {
  background-image: url("/src/images/footprint1L.svg");
}

.foot.right_1 {
  background-image: url("/src/images/footprint1R.svg");
}

.foot.left_2 {
  background-image: url("/src/images/footprint2L.svg");
}

.foot.right_2 {
  background-image: url("/src/images/footprint2R.svg");
}

.foot.left_3 {
  background-image: url("/src/images/footprint3L.svg");
}

.foot.right_3 {
  background-image: url("/src/images/footprint3R.svg");
}

.main {
  padding-top: 100px;
}

.main h4 {
  font-weight: bold;
  background-image: linear-gradient(0deg, #076e61, #9e9c19);
  color: transparent;
  background-size: 100%;
  background-clip: text;
  margin: 2vmin;
}

.normal {
  background-color: rgb(204, 255, 157);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}

.normal2 {
  background-color: rgb(157, 196, 255);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}


.web {
  background-color: rgb(117, 255, 221);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}

.database {
  background-color: rgb(231, 172, 255);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}

.server {
  background-color: rgb(255, 253, 117);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}

.massEffect {
  background-color: rgb(141, 193, 236);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}
.dragonAge {
  background-color: rgb(223, 116, 83);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}
.fallout {
  background-color: rgb(197, 245, 201);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}
.elderScrolls {
  background-color: rgb(248, 247, 152);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}
.witcher {
  background-color: rgb(156, 207, 205);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}
.bioshock {
  background-color: rgb(115, 198, 231);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}
.videoGames {
  background-color: rgb(188, 238, 235);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}

.tableTennis {
  background-color: rgb(241, 209, 161);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}

.ukulele {
  background-color: rgb(248, 250, 192);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}

.vrGames {
  background-color: rgb(191, 201, 250);
  color: black;
  padding: 1vmin 0.5vmin;
  margin: 0.5vmin;
}
