.load_container {
  height: 12vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load_dot {
  width: 2vmin;
  height: 2vmin;
  margin-left: 4vmin;
  margin-right: 4vmin;
}

.load_dot.serial1 {
  animation: load_dot_scale 1s linear reverse infinite;
}

.load_dot.serial2 {
  animation: load_dot_scale 1s 0.1s linear reverse infinite;
}

.load_dot.serial3 {
  animation: load_dot_scale 1s 0.2s linear reverse infinite;
}

.load_dot.serial4 {
  animation: load_dot_scale 1s 0.3s linear reverse infinite;
}

.load_dot.serial5 {
  animation: load_dot_scale 1s 0.4s linear reverse infinite;
}

@keyframes load_dot_scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.prompt:first-child:first-letter {
  color: rgb(100, 148, 172);
  initial-letter: 1.8;
  margin-right: 4px;
}

.prompt {
  font-family: Georgia, DFKai-sb;
}

.prompt2:first-child:first-letter {
  color: rgb(255, 247, 156);
  initial-letter: 1.8;
  margin-right: 4px;
}

.prompt2 {
  font-family: Georgia, DFKai-sb;
}

.image_actived {
  cursor: pointer;
}

.exhibit_likes {
  size: 2vmin, 2vmin;
  cursor: pointer;
}

.exhibit_prompt {
  overflow: hidden;
}

.exhibit_likes_check {
  size: 2vmin, 2vmin;
}

.exhibit_likes_text {
  color: #ec6868;
}

.ownlist_entries {
  size: 2vmin, 2vmin;
  cursor: pointer;
}

.ownlist_entries_check {
  size: 2vmin, 2vmin;
}

.carousel_card {
  background-color: #2d2b00;
}

.carousel_card_header {
  background-image: url("/src/images/fancy-pattern2.svg");
  background-position: right;
  background-size: cover;
  color: #bbbb60;
}
.carousel_card_body {
  background-color: #47483a;
  color: #b6b67f;
}
.carousel_card_tailer {
  background-image: url("/src/images/fancy-pattern.svg");
  background-size: cover;
  color: #bbbb60;
}

.carousel_control {
  width: 10%;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.main h2 {
  font-family: TiltNeon;
  font-weight: bold;
  background-image: linear-gradient(0deg, #b7fff5, #fffea7);
  color: transparent;
  background-size: 100%;
  background-clip: text;
}
.main input[type="text"] {
  border: 1px solid #475fa0;
  border-radius: 4px;
  outline-color: #475fa0;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main button {
  color: #fff;
  background-color: #7480a0;
  border: none;
  border-radius: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .ownlist_paint_image {
    animation: Ownlist-paint-image 0.3s linear infinite alternate;
  }
}

@keyframes Ownlist-paint-image {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 50%;
  }
}

.background {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0% 0;
  background-size:cover;
  background-image: url("/src/images/background-gallery.svg");
}
