.react {
  margin: 1vmin;
  background-color: #41bacb;
  color: white;
}

.python {
  margin: 1vmin;
  background-color: #ddbc00;
  color: white;
}

.restful {
  margin: 1vmin;
  background-color: rgb(222, 255, 189);
  color: rgb(68, 88, 33);
}

.netCore {
  margin: 1vmin;
  background-color: coral;
  color: white;
}

.flask {
  margin: 1vmin;
  background-color: rgb(255, 210, 248);
  color: rgb(134, 56, 128);
}

.translator {
  margin: 1vmin;
  background-color: rgb(80, 255, 232);
  color: rgb(178, 44, 255);
}

.mssql {
  margin: 1vmin;
  background-color: rgb(245, 255, 105);
  color: rgb(44, 75, 255);
}

.azure {
  margin: 1vmin;
  background-color: rgb(203, 236, 247);
  color: darkslateblue;
}

.azure span {
  font-weight: bolder;
  background: -webkit-linear-gradient(0deg, #194bb8, #106e2c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sql {
  margin: 1vmin;
  background-color: slateblue;
  color: white;
}

.aws {
  margin: 1vmin;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 165, 81);
}

.gcp {
  margin: 1vmin;
  background: rgb(226, 255, 225);
  color: rgb(9, 139, 15);
}

.gcp span {
  font-weight: bolder;
  background: -webkit-linear-gradient(0deg, #155fff, #ff761b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_space {
  height: 30vmin;
}

.background {
  position: fixed;
  pointer-events: none;
  left: -200%;
  top: -150%;
  width: 500%;
  height: 500%;
  opacity: 0.15;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url("/src/images/background-program.svg");
}

.background {
  animation: background-fade 10s linear reverse infinite;
}

@keyframes background-fade {
  0% {
    opacity: 0.05;
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.2;
    transform: rotate(90deg);
  }
  50% {
    opacity: 0.05;
    transform: rotate(180deg);
  }
  75% {
    opacity: 0.2;
    transform: rotate(270deg);
  }
  100% {
    opacity: 0.05;
    transform: rotate(360deg);
  }
}