@font-face {
  font-family: "TiltNeon";
  src: local("TiltNeon"), url(./fonts/TiltNeon-Regular.ttf) format("truetype");
}

html {
  overscroll-behavior: none;
  overflow-x: hidden;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.badge{
  text-shadow: none;
  text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;
  font-weight: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar-corner {background-color: transparent;}